body {
  padding: 20px;
}

.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 20px;
  background: rgb(236, 222, 236);
  margin: auto;
}
.Weather .form-control {
  font-family: fantasy;
  padding: 15px 20px;
}
.Weather .btn {
  font-family: fantasy;
  font-size: 20px;
  background: purple;
  border: none;
  padding: 15px 20px;
  height: 50px;
  display: inline-block;
}
h1 {
  font-family: fantasy;
  text-align: right;
  padding-right: 30px;
  padding-top: 20px;
  color: purple;
}
.temp {
  text-align: left;
}
li {
  font-size: 12px;
  list-style: none;
}
.details {
  text-align: left;
  padding-right: 30px;
}
.labels {
  display: inline;
}
.forecastIcon {
  margin-left: 30px;
}
