body {
  padding: 20px;
}

.Weather {
  border: 1px solid #dadde1;
  padding: 20px;
  background: rgb(236, 222, 236);
}
form {
  display: block;
  padding: 5px;
  margin: 5px;
}
.btn {
  background: purple;
  border: none;
}
h1 {
  font-family: fantasy;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}
.main-icon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 25px;
}
strong {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 14px;
}
.temp {
  text-align: left;
}
li {
  font-size: 12px;
  list-style: none;
}
.details {
  text-align: right;
  padding-right: 30px;
}
.labels {
  display: inline;
}
span {
  font-size: 12px;
}
.weather-temperature img {
  height: 100px;
  width: 100px;
}
.weather-forecast-date {
  font-size: 15px;
  color: #000;
}
.weather-forecast-date img {
  height: 20px;
  width: 20px;
}
.weather-temp-min {
  opacity: 0.5;
}
footer {
  font-size: 10px;
  padding-top: 20px;
}
