body {
  padding: 20px;
}

.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 20px;
  background: rgb(236, 222, 236);
  margin: auto;
}
form {
  display: block;
  margin: 5px;
}
.form-control {
  font-family: fantasy;
}
.btn-primary {
  font-family: fantasy;
  font-size: 20px;
  background: purple;
  border: none;
}
h1 {
  font-family: fantasy;
  text-align: right;
  padding-right: 30px;
  padding-top: 20px;
}

strong {
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  line-height: -300px;
}
.units {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 0;
}
.temp {
  text-align: left;
}
li {
  font-size: 12px;
  list-style: none;
}
.details {
  text-align: left;
  padding-right: 30px;
}
.labels {
  display: inline;
}
span {
  font-size: 12px;
  margin-left: 10px;
}
.weather-temperature img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  padding: 0;
}
.weather-forecast-date {
  font-size: 15px;
  color: #000;
  margin-left: 20px;
}
.icons img {
  margin-left: 12px;
}
.weather-temp-min {
  opacity: 0.5;
}
